.container {
    margin-top: 90px;
}

/* Show hand when hovered on tab links */
.nav-link {
    cursor: pointer;
}

.card-header {
    padding: 0px 10px;
}

.dblocks-card {
    padding: 5px 15px;
    margin: 10px 0px;
}

.dblocks-card-content {
    margin: 0;
}

/* .table-supply tr td {
    float: right;
} */

#dblocks-props-tbl {
    table-layout: fixed;
}

#dblocks-props-tbl tr td {
    word-wrap: break-word;
}

#acc-notfound, #acc-error, #acc-container, #acc-profile-hive, #acc-profile-steem, #acc-leader {
    display: none;
}

#acc-container [id^=acc-profile] img, 
.dblocks-accprice-createaccbtn img {
    float: left;
    width: 25px;
    height: 25px;
}

#acc-profile-dtube,
.dblocks-accprice-createaccbtn {
    border-color: #223154;
    background-color: #223154;
}

#acc-profile-hive {
    border-color: #E31337;
    background-color: #E31337;
}

#acc-profile-steem {
    border-color: #171FC9;
    background-color: #171FC9;
}

#acc-profile-json { width: 100%; }
#acc-profile-json table { font-size: 12px;}

#acc-meta-master,
#acc-leader-key,
#acc-profile-json table tr td,
#blk-container table tr td,
#txn-container table tr td {
    word-break: break-word;
}

table tr th {
    word-break: normal;
}

/* Block details */
#blk-notfound, #blk-error, #blk-container {
    display: none;
}

.blk-head {
    width: 100%;
}

.blk-btn-prevnext {
    float: right;
}

/* Txn details */
#txn-notfound, #txn-error, #txn-container {
    display: none;
}

/* Account Pricing */
.dblocks-accprice { max-width: 350px; }
.dblocks-accprice thead,
.dblocks-accprice tbody tr th { text-align: center; }
.dblocks-accprice tbody tr td { text-align: right; }

/* Richlist */
#richlist-error, #richlist-container { display: none; }

.form-inline {
    padding: 0px 15px;
}

/* MOBILE DEVICES */
/* @media screen and (max-width: 768px) {} */