.container {
    margin-top: 90px;
}

/* Show hand when hovered on tab links */
.nav-link {
    cursor: pointer;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #28a745;
}

a.nav-link {
    color: #28a745;
}

.dblocks-navbar-icon {
    transform: translate(0px, -1.5px);
}

.dblocks-table-inner {
    margin-bottom: 0;
}

.dblocks-acc-det-table {
    margin-bottom: 1.5rem;
}

.card-header {
    padding: 0px 10px;
}

.dblocks-card {
    padding: 5px 15px;
    margin: 10px 0px;
}

.dblocks-card-content {
    margin: 0;
    word-break: break-word;
}

/* .table-supply tr td {
    float: right;
} */

#testnet-heading-badge { display: none; }

#dblocks-props-tbl {
    table-layout: fixed;
}

#dblocks-props-tbl tr td {
    word-wrap: break-word;
}

#acc-notfound, #acc-error, #acc-container, #acc-profile-hive, #acc-leader {
    display: none;
}

#acc-container [id^=acc-profile] img, 
.dblocks-accprice-createaccbtn img,
#content-dtube img {
    float: left;
    width: 25px;
    height: 25px;
}

#acc-profile-dtube,
.dblocks-accprice-createaccbtn,
#content-dtube {
    border-color: #223154;
    background-color: #223154;
}

#acc-profile-hive {
    border-color: #E31337;
    background-color: #E31337;
}

#acc-profile-json { width: 100%; }
#acc-profile-json table { font-size: 12px;}
#acc-meta-master,
#acc-leader-key,
#acc-profile-json table tr td,
#blk-container table tr td,
#txn-container table tr td {
    word-break: break-word;
}

#acc-leader table tr th {
    min-width: 100px;
}

table tr th {
    word-break: normal;
}

/* Block details */
#blk-notfound, #blk-error, #blk-container { display: none; }
.blk-head { width: 100%; }
.blk-btn-prevnext { float: right; }

/* Txn details */
#txn-notfound, #txn-error, #txn-container { display: none; }

/* Contents */
#content-error, #content-notfound, #content-container,
.content-parent, #content-comments { display: none; }
#content-comments table,
#content-votes thead,
#content-votes tbody tr td:nth-child(2),
#content-votes tbody tr td:nth-child(5),
#content-votes tbody tr td:nth-child(6),
#content-votes tbody tr td:nth-child(7) { text-align: center; }
#content-votes tbody tr td:nth-child(3),
#content-votes tbody tr td:nth-child(4) { text-align: right; }

/* Leaders */
#leader-error, #leader-container { display: none; }
#leader-table thead { text-align: center; }
#leader-table tbody tr th { text-align: center; }
#leader-table tbody tr td:nth-child(n+3) { text-align: right; }

/* Account Pricing */
.dblocks-accprice { max-width: 350px; }
.dblocks-accprice thead,
.dblocks-accprice tbody tr th { text-align: center; }
.dblocks-accprice tbody tr td { text-align: right; }

/* Richlist */
#richlist-error, #richlist-container { display: none; }
#richlist-table thead,
#richlist-table tbody tr th { text-align: center; }
#richlist-table tbody tr td:nth-child(n+3) { text-align: right; }
#distribution-table thead { text-align: center; }
#distribution-table tbody tr td:nth-child(n+2) { text-align: right; }

/* Live sub count */
.dblocks-live-alert { display: none; }
.dblocks-counter { 
    width: 100%;
    text-align: center;
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-car { zoom: 7; }

.form-inline {
    padding-right: 15px;
}

/* Key Utils */
.dblocks-authority-names { max-width: 350px; }
.dblocks-authority-names thead,
.dblocks-authority-names tbody tr th { text-align: center; }

/* MOBILE DEVICES */
@media screen and (max-width: 768px) {
    .odometer.odometer-auto-theme, .odometer.odometer-theme-car { zoom: 6; }
}

@media screen and (max-width: 500px) {
    .odometer.odometer-auto-theme, .odometer.odometer-theme-car { zoom: 5; }
}

@media screen and (max-width: 420px) {
    .odometer.odometer-auto-theme, .odometer.odometer-theme-car { zoom: 4; }
}

@media screen and (max-width: 350px) {
    .odometer.odometer-auto-theme, .odometer.odometer-theme-car { zoom: 3; }
}